
body {
  text-align: center;
  background: #0b1020;
  color: white;
  font-family: sans-serif;
}

.escenario {
  width: 750px;
  height: 500px;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  border: 4px solid #9b59b6;
  border-radius: 12px;
}

.fondo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.mariposa, .brillo, .seta, .cofre, .libro, .flor {
  position: absolute;
  width: 80px;
  cursor: pointer;
}


.mariposa { top: 50px; left: 100px; }
.brillo { top: 60px; right: 100px; }
.seta { bottom: 40px; left: 80px; }
.cofre { bottom: 40px; right: 100px; }
.libro { top: 220px; left: 300px; }
.flor { bottom: 100px; right: 300px; }


@keyframes volar {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

@keyframes parpadeo {
  0%, 100% { opacity: 0.3; }
  50% { opacity: 1; }
}

.animar.mariposa { animation: volar 3s infinite; }
.animar.brillo { animation: parpadeo 2s infinite; }

#texto {
  position: absolute;
  bottom: 10px;
  width: 100%;
  color: #ffd;
}

