body{background:#000;color:#fff;font-family:Poppins;margin:0;text-align:center}
#list-p{display:flex;flex-wrap:wrap;justify-content:center;gap:22px;padding:20px}
.card{width:250px;background:#111;padding:10px;border-radius:10px;transition:.3s}
.card:hover{transform:scale(1.05);background:#30aaff}
.card img{width:100%;border-radius:10px;height:200px;object-fit:cover}
.back{color:cyan;font-size:1.3rem;text-decoration:none;margin:15px;display:inline-block}
