body{background:#000;color:#fff;font-family:Poppins;margin:0;text-align:center}
#lista{display:flex;flex-wrap:wrap;justify-content:center;gap:20px;padding:20px}
.item{width:260px;background:#111;padding:10px;border-radius:10px;transition:.3s}
.item:hover{transform:scale(1.05);background:#ff3434}
.item img{width:100%;border-radius:10px;height:180px;object-fit:cover}
.back{color:cyan;text-decoration:none;font-size:1.3rem;margin:15px;display:inline-block}
