body{background:#000;color:white;margin:0;font-family:Poppins}
header{display:flex;justify-content:space-between;align-items:center;padding:15px 25px;background:#111}
nav a{color:white;text-decoration:none;margin-left:20px;font-size:1.2rem;transition:.3s}
nav a:hover{color:#ff4040}

#carrusel{display:flex;overflow:hidden;width:100%;height:60vh;position:relative}
.slide{min-width:100%;transition:.8s;position:relative}
.slide img{width:100%;height:100%;object-fit:cover;filter:brightness(.75)}
.slide h2{position:absolute;bottom:20px;left:20px;font-size:2rem}

@media(max-width:700px){.slide h2{font-size:1.4rem}}
